.aaa
  .header2
    .logo333-left
      = image_tag("/images/logo.svg", class: "logo333-left__item")
    %ul.header2__ul
      %li.header2__last-item
        %p.header2__last-item__right 完了
        .header2__maru2.clearfix
      %li.header2__item--red
        支払い情報
        .header2__maru--red
      %li.header2__item--red
        住所入力
        .header2__maru--red
      %li.header2__item--red
        電話番号認証
        .header2__maru--red
      %li.header2__item--red
        会員情報
        .header2__maru--red
  .box9.clearfix
    .box9__top
      %p.box9__top-text 会員登録完了
    .box9__bottom
      %p.box9__text ありがとうございます
      %p.box9__text 会員登録が完了しました。
      = form_for root_path, html: {class: "form-yes4__f"} do |f|
        .margin-god
        = f.submit class: "form-yes4__b", value: "メルカリを始める"
  .bottom-list7
    %ul.bottom-list7__ul
      %li.bottom-list7__item プライバシーポリシー
      %li.bottom-list7__item メルカリ利用規約
      %li.bottom-list7__item 特定商取引に関する表記
    = image_tag("/images/logo-gray.svg", class: "bottom-list7__image clearfix")
    %p.bottom-list7__footer © 2018 Mercari
