%aside.app-banner
  .app-banner__pc
    .app-banner__pc__inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner__icon.clearfix
        %figure.mercari-logo
          =image_tag("/images/mercari_icon.png", width: "68")
        %ul.app-logo
          %li
            = link_to("https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8") do
              =image_tag("/images/app-store.svg",alt: "", height: "40",  width: "133")
          %li
            = link_to("https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank") do
              = image_tag("/images/google-play.svg", alt: "", height: "40", width: "133" , class: "google-app-logo")
    %figure
      = image_tag("/images/download_content_pc.png", alt: "", class:"mobile-img")
