%a.header-notice__box--inner{href:"news_page"}
  %figure
    = image_tag('/images/mercari_icon.png', height:'48',width:'48')
  .header-notice__box--inner__body
    .header-notice__box--inner__body__text お知らせが入りますお知らせが入りますお知らせが入りますお知らせが入りますお知らせが入ります
    %time
      %i.fa.fa-clock
      %span ２時間前
    %i.fa.fa-angle-right
