%section.item-box__content
  %figure.item-box__content__image
    = image_tag("/images/m61013437077_1.jpg")
  .item-box__content__detail
    %h3.item-box__content__detail__name
      商品名
    .item-box__content__detail__inner
      %h3.item-box__content__detail__inner__price
        ¥ 値段
      %p.item-box__content__detail__inner__tax
        (税込)
