a{
  color:#333;
}

.header{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  .header-inner{
      width:1020px;
      margin : 0 auto;
      padding: 8px 0 0;


    .logo-bar{
      position: relative;
      .logo{
        display: inline-block;
      }
      .header-form{
        position: absolute;
        top: 0;
        left: 15%;
        width: calc(100% - (134px + 16px));
        display: inline-block;
        height: 36px;

        .form__input{
          display: inline-block;
          line-height: 1.5;
          font-size: 16px;
          width:100%;
          height: 36px;
          box-sizing:border-box;
          border:1px solid #ccc;;
          border-radius: 4px;
          padding: 9px 32px 9px 8px;
          font-family: inherit;
        }

        .fa.fa-search{
          position:absolute;
          top:0;
          right:0;
          width: 36px;
          line-height: 36px;
          cursor: pointer;
          text-align: center;
          display: inline-block;
        }
      }

    }
    .header-nav__box{
      margin: 6px 0 0;
      z-index:100;

      .left__list{
        display: inline-block;
        font-size: 14px;
        position: relative;

          &__category{
            width:126px;
            height: 38px;
            line-height: 32px;
            display: inline-block;


            >h2{
              >a{
                display: block;
                text-decoration: none;
                &:hover{
                  color:#0099e8;
                }
              }
            }
            &__pulldown{
                display: inline-block;
                width:220px;
                float: left;

              &__name{
                position: relative;
                display: none;
                z-index:100;
                background-color: white;

                >h3{

                  >a{
                    display: block;
                    text-decoration: none;
                    padding: 0 16px;
                    line-height: 44px;
                    overflow: hidden;

                    &:hover{
                      background: #ea352d;
                      color:#FFFFFF;
                    }
                  }
                }
                &__child{
                  display:none;
                  position: absolute;
                  top: 0;
                  left: 220px;
                  width: 220px;
                  background: white;

                  &--li{
                    >a{
                      box-sizing:border-box;
                      display: block;
                      text-decoration: none;
                      font-size: 14px;
                      padding-left: 12px;

                      &:hover{
                        background-color:#e6e6e6;
                      }
                    }
                  }
                }
              }
            }
          }

          &__brand{
            height: 38px;
            line-height: 32px;
            margin-left: 12px;
            display: inline-block;


            >a{
              display: block;
              text-decoration: none;
              }
            >a:visited{
              color:#333;
            }
            >a:hover{
              color:#0099e8;
            }

            &__pulldown{
                display: inline-block;
                width:220px;
                float: left;

              &__name{
                position: relative;
                z-index:100;
                display: none;
                background-color: white;

                >h3{

                  >a{
                    display: block;
                    text-decoration: none;
                    padding: 0 16px;
                    line-height: 44px;
                    overflow: hidden;
                  }

                  >a:hover{
                    background: #ea352d;
                    color:#FFFFFF;
                  }
                }
              }
            }
          }
      }

      .right__list{
        float:right;
        display: inline-block;
        font-size: 14px;

        >li{
          display: inline-block;
          margin-bottom: 10px;

        }

        .header-btn__red{
          padding: 8px 10px;
          line-height: 30px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          border-radius:4px;
          text-decoration: none;
        }

        .header-btn__signup{
          padding: 8px 10px;
          border: 1px solid #0099e8;
          background: #fff;
          color: #0099e8;
          text-shadow: none;
          margin-left:6px;
          border-radius:4px;
          text-decoration: none;
        }
      }
    }
  }
}
