.main{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  background-color: #f2f2f2;

  .banner{
    height:390px;
    width:100%;
    margin-bottom: 40px;
    z-index: 0;

    .swiper-container{
     width:100%;
     height: 100%;

      .swiper-slide{
        width:100%;
        height:100%;
        z-index:0;
        position: relative;
        margin: 0 auto;

        .banner-image{
          width:100%;
          height: 100%;
          vertical-align:middle;
          object-fit:cover;
        }

        &__content{
          z-index:20;
          position: absolute;
          top:0%;
          left:20%;
          color:#424242;

          >h3{
            font-size:60px;
            font-weight: bold;
            line-height:1.2;
            margin-top: 45px;
          }

          >p{
            font-size: 18px;
            margin-top: 16px;
            line-height: 1.777777;
          }

          >img{
            width:440px;
            height:390px;
            position:absolute;
            top:0%;
            left:90%;
          }

          &__link{
            margin-top: 24px;

            &__itunes{
              display: inline-block;
            }
            &__android{
              display: inline-block;
              margin-left: 10px;
            }
          }
        }
        &--center{
          width:auto;
          height:auto;
          max-width:100%;
          max-height:100%;
        }

        &__bg{
          width:100%;
          height: 100%;

        }
      }
    }

  }
  .contents{

    height:500px;
    width:100%;
    padding-top:30px;

    .pickup-header{
      font-size: 28px;
      font-weight:bold;
      text-align: center;
    }

    .pickup-items{
      width: 940px;
      margin: 0 auto;

      >h3{
        text-align: center;
        margin: 26px 11px;
        >a{
        font-size: 22px;
        color: #0099e8;
        text-decoration: none;
        font-weight: bold;
        }
      }
    }
    .item-box{
      width:auto;
      height:330px;

      &__content{
        height: 100%;
        margin-left:20px;
        width:213px;
        float:left;

        &__image{

          >img{
          height: 220px;
          width:100%
          }
        }

        &__detail{
          box-sizing:border-box;
          overflow: hidden;
          position: relative;
          font-weight: 400;
          word-break: break-word;
          white-space: normal;
          padding: 16px;
          background-color: white;


          &__name{
            padding-bottom: 20px;
            color: #424242
          }

          &__inner{

            &__price{
              font-size: 20px;
              display: inline-block;
              font-weight: 600;
            }
            &__tax{
              font-size:10px;
            }
          }
        }
      }

      &__viewall{
        text-align: right;
        padding: 20px 0 30px;
        margin-right: 7px;
        >a{
          text-decoration: none;
          color:#0099e8;
          font-size: 14px;
        }
      }
    }
  }
  .btn-exhibit{
    position: fixed;
    display: inline-block;
    bottom:32px;
    right: 32px;
    background: #ea352d;
    height: 160px;
    width:160px;
    text-decoration: none;
    border-radius:50%;
    color: white;
    text-align: center;
    z-index:30;

    .sell{
      margin-top: 32px;
      font-size:22px;
    }
    .fa.fa-camera{
      font-size: 54px;
      margin: 8px 0 0;
    }
  }
}
