.defaultcontainer

 .header header
 .header__nav header
 .header__pan pan

.main-content
 %main.r-content-clearfix
  .rightcontent2
   %section.rightcontent__container
    %h2.rightcontent2__head 支払い方法
    .rightcontent2__inner
     %section
      .rightcontent2__content
       %h3.rightcontent2__credit--text クレジットカード一覧
      %ul.rightcontent2__creditlist
       %li.rightcontent2__creditlist2
        %form.rightcontent2__creditcard
         %figure
          =image_tag("/images/visa-logo.png" , size: "49x15" , alt: "visa")
          / %img{:alt => "visa", :height => "15", src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1621863497", :width => "49"}/
          .rightcontent2__creditnumber **************
          .rightcontent2__creditnumber 日にち
          %button.leftcontent2__button{:type => "submit"} 削除する
     .rightcontent2__footer
     %a.rightcontent2__cash{href:"#"}
      %span.leftcontent2__cash2 支払い方法について＞


  = render partial: "users/left-bar"

 .footer footer
 .footer__main footer



