%head
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %link{ rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" }
%body
  = render partial: 'mercaries/header-login'
  = render partial: 'users/left-bar'
  = render partial: 'mercaries/footer'
