.aaa
  .logo333
    = image_tag("/images/logo.svg", class: "logo333__item")
  .box444
    .box444__top
      %p.box444__text 新規会員登録
    .box444__bottom
      .box444__rr
        .box444__item
          %i.far.fa-envelope.box444__awe--black
          .box444__item--black メールアドレスで登録
      .box444__er
        .box444__item
          %i.fab.fa-facebook.box444__awe
          Facebookで登録
      .box444__wr
        .box444__item
          %i.fab.fa-google-plus-g.box444__awe
          Googoleで登録
  .bottom-list7
    %ul.bottom-list7__ul
      %li.bottom-list7__item プライバシーポリシー
      %li.bottom-list7__item メルカリ利用規約
      %li.bottom-list7__item 特定商取引に関する表記
    = image_tag("/images/logo-gray.svg", class: "bottom-list7__image clearfix")
    %p.bottom-list7__footer © 2018 Mercari
