.aaa
  .header2
    .logo333-left
      = image_tag("logo.svg", class: "logo333-left__item")
    %ul.header2__ul
      %li.header2__item
        完了
        .header2__maru
      %li.header2__item
        支払い情報
        .header2__maru
      %li.header2__item
        住所入力
        .header2__maru
      %li.header2__item
        電話番号認証
        .header2__maru
      %li.header2__item
        会員情報
        .header2__maru
  .box44444.clearfix
    .box44444__top
      %p.box44444__text 会員情報入力
    .box44444__bottom
      hello
  .bottom-list7
    %ul.bottom-list7__ul
      %li.bottom-list7__item プライバシーポリシー
      %li.bottom-list7__item メルカリ利用規約
      %li.bottom-list7__item 特定商取引に関する表記
    = image_tag("logo-gray", class: "bottom-list7__image clearfix")
    %p.bottom-list7__footer © 2018 Mercari
