.app-banner{
  background: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?52408201");
  background-position: center;
  min-width: 768px;
    &__pc{
      overflow: hidden;
      position: relative;
      width: 750px;
      height: 260px;
      margin: 0 auto;
      color: #fff;
      &__inner{
        position: absolute;
        height: 260px;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        text-shadow: none;
        h2{
          font-size: 16px;
        }
        p{
          margin-top: 10px;
          font-size: 24px;
        }
        &__icon{
          margin-top: 20px;
          figure{
            .mercari-logo{
              display: inline-block;
            }
          ul{
            display: inline-block;
            margin-left: 24px;
            li{
              margin-top: 15px;
              color: #fff;
              }
            a{
              color: #fff;
              display: inline-block;
              }
            }
          }
        }
      }
    }

    .mobile-img{
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      .app-image{
        height: 100%;
    }
  }
}

