.app-banner{
  background: url(/images/app-baner_background.jpg);
  background-position: center;
  min-width: 768px;
    &__pc{
      overflow: hidden;
      position: relative;
      width: 750px;
      height: 260px;
      margin: 0 auto;
      color: #fff;
      &__inner{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        text-shadow: none;
        h2{
          margin: 0;
          font-size: 16px;
          line-height: 1.4;
        }
        p{
          margin-top: 10px;
          font-size: 24px;
        }
      }
    }
    &__icon{
      margin: 20px 0 0;
    }
    .mercari-logo{
      display: inline-block;
    }
    .app-logo{
        display: inline-block;
        margin-left: 24px;
      }
    ul{
      margin-left: 24px;
      li{
        color: #fff;
        display: inline-block;
        }
      }
    .google-app-logo{
      margin:0 0 0 16px;
    }
  .mobile-img{
      width: 300px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    .app-image{
      height: 100%;
    }
  }
}
