%footer.footer-logo
  %ul.footer-logo__ul
    %li.footer-logo__ul__list プライバシーポリシー
    %li.footer-logo__ul__list メルカリ利用規約
    %li.footer-logo__ul__list 特定商取引に関する表記
  =image_tag("mercari-logo-gray" , class: "mercari-logo-gray clearfix")
  %p.footer-logo__text © 2018 Mercari
