.sell__btn__gray{
    display: block;
    width: 45%;
    line-height: 48px;
    margin: 24px auto 0;
    text-align: center;
    background-color:#aaa;
    border: 1px solid #aaa;
    color: #fff;
    font-size: 14px;
    text-decoration: none;

    &:hover{
      opacity:0.7;
      transition: all ease-out .3s;
    }
}
