@mixin sell__btn__red{
  line-height: 48px;
  font-size: 16px;
  margin: 40px 0 0;
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  cursor: pointer;
  display:block;
  text-align: center;
  color: white;
}
