
.purchased-box{
  width: 700px;
  background-color: white;
  margin: 0 auto;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  &__top{
    border-bottom: 1px solid #f5f5f5;
    padding: 32px 16px;
  }
  margin-bottom: 50px;
  &__text{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  }
  &__bottom{
  padding: 40px 12.5%;
  margin: 0;
  display: block;
  &__text{
    max-width: 320px;
    display: block;
    margin: 0 auto;
      &__a{
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
}


