.item-content-right{
  margin: 50px 500px 0;
}
.item-describe{
  margin-top: 20px;
  &__test{
    width: 600px;
    word-wrap: break-word;
  }
}
.item-edit{
  width: 700px;
  height: 300px;
  background-color: white;
  margin: 30px auto;
  &__height{
    height: 10px;
  }
  &__btn{
    margin: 20px;
    height: 50px;
    &--red{
      margin: 20px;
      height: 50px;
      background-color: #ea352d;
      color: white;
    }
    &--gray{
      margin: 20px;
      height: 50px;
      background-color: #aaa;
      color: white;
    }
  }
  &__or{
    text-align: center;
  }
  &__text{
    text-align: center;
    line-height: 50px;
  }
}
.item-footer{
  &__height{
    height: 50px;
  }
}
