.item-box{
  width:auto;
  height:330px;

  &__content{
    height: 100%;
    margin-left:20px;
    width:213px;
    float:left;
    position:relative;

    &__image{

      >img{
      height: 220px;
      width:100%
      }
    }

    &__detail{
      box-sizing:border-box;
      overflow: hidden;
      position: relative;
      font-weight: 400;
      word-break: break-word;
      white-space: normal;
      padding: 16px;
      background-color: white;


      &__name{
        color: #424242
      }

      &__inner{

        &__price{
          display: inline-block;
        }
        &__tax{
          font-size:10px;
        }
      }
    }
  }

  &__viewall{
    text-align: right;
    padding: 20px 0 30px;
    margin-right: 7px;
    >a{
      text-decoration: none;
      color:#0099e8;
      font-size: 14px;
    }
  }
}
