select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
}

.defaultcontainer {
  width: 100%;
}

.main-content {
  background-color: #EEEEEE;
  padding-top: 40px;

  .logout-contain{
    padding: 64px;

    .sell__btn__red{
      @include font-family;
      line-height: 48px;
      font-size: 16px;
      margin: 0 auto;
      width: 70%;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      cursor: pointer;
      display:block;
      text-align: center;
      color: white;

        &:hover{
          opacity: 0.7;
          transition: all ease-out .3s;
        }
    }
  }
}

.r-content-clearfix {
 margin: 40px auto 0;
 width: 1020px;
}

.year {
  display: inline-block;
  padding: 5px;
  &__day {
      display: inline-block;
      padding: 5px;
  }
}

.form-control {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 140px;
  display: inline-block;
}


.r-content-clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.jusyo {
  font-weight: 600;
  font-size: 15px;
  &__birthday {
  font-weight: 600;
  font-size: 15px;
  }
}

.rightcontent {
 width:700px;
 background-color: white;
 float:right;
   &__main {
    padding: 64px;
   }
   &__head {
   height: 50px;
   font-size: 24px;
   padding: 8px 24px;
   text-align: center;
   line-height: 50px;
   font-weight: bold;
   }
   &__text {
   font-size:14px;
   text-align: center;
   }
   &__sub {
    margin-top:40px;
   }
   &__addres {
    margin-top: 8px;
    font-size: 16px;
   }
   &__edit {
    color: #0099e8;
    text-decoration: none;
    font-size: 14px;
   }
   &__requied {
   background: #ea352d;
   margin: 0 0 0 8px;
   padding: 2px 4px;
   border-radius: 2px;
   color: #fff;
   font-size: 12px;
   vertical-align: top;
   }
}

.birthday__select__wrap {
  display: inline-block;
  margin-top: 10px;
  position: relative;
}

.arrow__under__left {
  position: absolute;
  right: 375px;
  top: 32%;
  z-index: 0;
  color: #888;
  font-size: 20px;
  -webkit-transform: translate(0, -50%);
  transform: rotate(270deg);
  font-weight:bold;
   &__center {
    position: absolute;
    right: 200px;
    top: 32%;
    z-index: 0;
    color: #888;
    font-size: 20px;
    -webkit-transform: translate(0, -50%);
    transform: rotate(270deg);
    font-weight:bold;
   }
   &__center__right {
    position: absolute;
    right: 40px;
    top: 32%;
    z-index: 0;
    color: #888;
    font-size: 20px;
    -webkit-transform: translate(0, -50%);
    transform: rotate(270deg);
    font-weight:bold;
   }
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}


.form {
  margin: 8px 0 0;
  line-height: 1.5;
  font-size: 14px;
  color: #888;
}

.formgroup__text {
  text-align: right;
  margin-top: 40px;
   &__text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }
}


.leftside {
  @include font-family;
  width: 280px;
  float:left;
  margin-right: 40px;
   &__list {
    list-style: none;
    }
   &__list2 {
    min-height: 48px;
    background: #fff;
    position: relative;
   }
   &__item {
    border:solid thin #DDDDDD;
    padding: 16px;
    position: relative;
    display: block;
    color: #333;
    text-decoration: none;
    text-align: left;
   }
   &__head {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
   }
}

.leftside__list2 :hover {
  background-color: #DDDDDD;
}

.arrow__right {
  position: absolute;
  top: 50%;
  right: 16px;
  color: #ccc;
  -webkit-transform: translate(0, -50%);
}
