.single-container
  %header.single-header
    %h1
      %a{href: "mercaries#index"}
        = image_tag("/images/logo.svg", height: "49",width: "185")
  %h2
  出品が完了しました。
  %a.sell__btn__gray{ href:"/items"} もどる
  %footer.single-footer
    %nav
      %ul
        %li
          %a{ href:"#"} プライバシーポリシー
        %li
          %a{ href:"#"} メルカリ利用規約
        %li
          %a{ href:"#"} 特定商取引に関する表記
    %a.single-footer__logo{ href:"#"}
      = image_tag("/images/logo-gray.svg",height: "65", width:"80")
    %p
      %small ©︎ 2018 Mercari
