.aaa
  .logo333
    = image_tag("/images/logo.svg", class: "logo333__item")
  .purchased-box
    .purchased-box__top
      %p.purchased-box__text ご購入ありがとうございます
    .purchased-box__bottom
      .purchased-box__bottom__text
        = link_to("商品画面へ戻る","https://item.mercari.com/jp/m70068440240/" ,class: "purchased-box__bottom__text__a")
  .bottom-list7
    %ul.bottom-list7__ul
      %li.bottom-list7__item プライバシーポリシー
      %li.bottom-list7__item メルカリ利用規約
      %li.bottom-list7__item 特定商取引に関する表記
    = image_tag("/images/logo-gray.svg", class: "bottom-list7__image clearfix")
    %p.bottom-list7__footer © 2018 Mercari
